@page "/"

<div class="row g-1 justify-content-md-center box mt-4">
    <h1 class="text-center">
        GUID Generator
    </h1>
    <div class="text-center">
        <small class="text-muted">Blazor WASM / .NET @Environment.Version</small>
    </div>
    <hr />

    <div class="col-md-auto">
        <button class="btn btn-primary" @onclick="NewGuid">New GUID</button>
    </div>
    <div class="col">
        <input type="text" class="form-control" placeholder="GUID" spellcheck="false" @bind="Result" />
    </div>
    <div class="col-md-auto">
        <button class="btn btn-success" @onclick="CopyResult">Copy</button>
    </div>

</div>