@page "/"

<div class="main box mt-4">
    <h1 class="text-center">
        GUID Generator
    </h1>
    <div class="text-center">
        <small class="text-muted">Blazor WASM / .NET @Environment.Version</small>
    </div>
    <hr />

</div>